
body{
    background-color: rgb(41, 148, 134);
    /* background-color: rgb(25, 138, 182); */
    padding: 0;
    margin: 0;
}
.fl{
    display: flex;
}
.fl-c{
    justify-content: center;
}
.ta-c{
    text-align: center;
}
.m-5{
    margin: 5px;
}
.p-5{
    padding: 5px;
}
.bdr-5{
    border-radius: 5px;
}
.bkg-0{
    background-color: transparent;
}
.c-r{
    color: red;
}
.c-b{
    color: blue;
}
.c-w{
    color: wheat;
}
.sm-l{
    size: 0.8rem;
}
.bg-g1{
    background-color: rgb(59, 153, 59);
}
.bg-g2{
    background-color: rgb(153, 136, 59);
}
.bg-g2{
    background-color: rgb(59, 115, 153);
}

.umuti-ctn{
    margin: 5px;
    border-radius: 5px;
}
.sen{
    font-family: Sen;
}